/* cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"), url(https://fonts.gstatic.com/s/cuprum/v8/eMlDd9JwnvIQuJvJDnS1ZxTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"), url(https://fonts.gstatic.com/s/cuprum/v8/7Tr22pFIqlbT5cnmIKi5P_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url(https://fonts.gstatic.com/s/cuprum/v8/gJovVCIsuVHpE7lUT-5TYfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url(https://fonts.gstatic.com/s/cuprum/v8/rZj40-VH1f1Wt0yg6Fkbcw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"), url(https://fonts.gstatic.com/s/cuprum/v8/n3IzcUkIerri6e9sz7DgbhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"), url(https://fonts.gstatic.com/s/cuprum/v8/SfDyn5tWOk7I1we45jpLK1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
  text-transform: uppercase;
  vertical-align: top;
  color: #ffffff;

  background: #ee3643;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background: #ca2c37;
}

.button:active {
  background: #ba2732;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  background-color: #f2f6f8;
}

.main-header__top {
  background-color: #293449;
}

.main-header__inner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 47px;

  background-color: inherit;
}

.header-logo {
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 220px;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 0 #9c2730;
  box-shadow: 0 5px 0 0 #9c2730;
}

.header-logo:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 0 #8e1e26;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 720px;

  background-color: inherit;
}

.header-tools__search {
  position: relative;
}

.header-tools__icon-search {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;
}

.header-tools__search:hover,
.header-tools__search:hover path {
  background-color: #212a3a;
  fill: rgba(255, 255, 255, 1);
}

.header-tools__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 270px;
  height: 42px;
  padding: 8px 10px 10px 48px;

  font-size: 17px;
  font-family: inherit;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.header-tools__input::-webkit-input-placeholder { /* Chrome */
  color: #ffffff;
}

.header-tools__input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}

.header-tools__input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;

  opacity: 1;
}

.header-tools__input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ffffff;

  opacity: 1;
}

.header-tools__input:focus {
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.header-tools__input:focus + .header-tools__icon-search path {
  fill: #ee3643;
}

.header-tools__link {
  position: relative;

  display: block;
  width: 90px;
  padding: 9px 10px 9px 50px;

  font-size: 17px;
  color: #ffffff;

  background-color: #ee3643;
}

.header-tools__link-bookmark {
  width: 96px;
  padding-left: 44px;
  padding-right: 10px;
}

.header-tools__link-bookmark::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-tools__link-bookmark:hover::before,
.header-tools__link-bookmark:focus::before {
  opacity: 1;
}

.header-tools__link-bookmark:hover,
.header-tools__link-bookmark:focus {
  background-color: #ca2c37;
}

.header-tools__link-bookmark:active::before {
  opacity: 0.5;
}

.header-tools__link-bookmark_zero {
  background: inherit;
}

.header-tools__link-bookmark_zero:hover,
.header-tools__link-bookmark_zero:focus {
  background-color: #212a3a;
}

.header-tools__link-bookmark_zero:active {
  background-color: #161d29;
}

.header-tools__link-cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.header-tools__link-cart:hover,
.header-tools__link-cart:focus {
  outline: 0;
  background: #ca2c37;
}

.header-tools__link-cart:active {
  background: #ba2732;
}

.header-tools__link-cart:hover::before,
.header-tools__link-cart:hover::before {
  opacity: 1;
}

.header-tools__link-cart:active::before {
  opacity: 0.5;
}

.header-tools__link-cart_zero {
  background: inherit;
}

.header-tools__link-cart_zero:hover,
.header-tools__link-cart_zero:focus {
  background: #212a3a;
  outline: 0;
}


.header-tools__link-cart_zero:active {
  background: #161d29;
}


.header-tools__link-order {
  display: block;
  width: 150px;
  padding: 9px 0;

  font-size: 17px;
  text-align: center;

  background-color: #63a63e;
}

.header-tools__link-order:hover,
.header-tools__link-order:focus {
  background-color: #5fbb2d;
  outline: none;
}

.header-tools__link-order:active {
  background-color: #518534;
}

.main-header__inner-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 590px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.header-info__text {
  width: 268px;
  margin: 0;
  padding-left: 52px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-info__contact {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.header-info__tel {
  display: block;
  margin-bottom: 5px;
  padding: 10px 50px 10px 70px;

  font-size: 21px;
  line-height: 17px;
  white-space: nowrap;
  color: #e9292a;

  background: url("../img/icon-phone.svg") no-repeat 13px 50%;
  border: 3px solid #ffffff;
}

.header-profile-not__auth,
.header-profile {
  width: 310px;
}

.header-profile-not__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-profile-not-auth__link {
  display: block;
  padding: 13px 25px;

  font-size: 21px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

.header-profile-not-auth__sign-in {
  position: relative;

  padding-left: 48px;
  margin-right: 10px;
}

.header-profile-not-auth__icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.header-profile-not-auth__link:hover {
  color: #ee3643;
}

.header-profile-not-auth__link:active {
  color: rgba(0, 0, 0, 0.302);
}

.header-profile-not-auth__link:hover path,
.header-profile-not-auth__link:focus path {
  fill: #32425c;
}

.header-profile-not-auth__link:active path{
  fill: #c5c5c5;
}

.header-profile__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  margin-left: 10px;

  background: #ffffff;
}

.header-profile__link-account {
  position: relative;

  padding: 13px 0 13px 48px;

  font-size: 21px;
  line-height: 18px;
  color: #000000;
}

.header-profile__link-logout {
  position: relative;
}

.header-profile__link-account:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-profile__link-account:hover path,
.header-profile__link-logout:hover path,
.header-profile__link-account:focus path,
.header-profile__link-logout:focus path {
  fill: #32425c;
}

.header-profile__icon-account {
  position: absolute;
  top: 50%;
  left: 14px;

  margin-top: -9px;
}

.header-profile__icon-logout {
  position: absolute;
  top: -9px;
  right: 10px;
}

.header-profile__bottom {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  margin-top: 7px;
  margin-left: 28px;
}

.header-profile__bottom::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 90px;

  width: 4px;
  height: 5px;
  margin-top: -2px;

  background: #32425c;
  border-radius: 50%;
}

.header-profile__link {
  margin-right: 32px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  -webkit-box-shadow: inset 0 -1px 0 0 #32425c;
  box-shadow: inset 0 -1px 0 0 #32425c;
}

.header-profile__link:hover,
.header-profile__link:focus {
  color: #ee3643;

  -webkit-box-shadow: inset 0 -1px 0 0 #ee3643;
  box-shadow: inset 0 -1px 0 0 #ee3643;
}

.header-profile__link:active {
  color: rgba(50, 66, 92, 0.3);

  -webkit-box-shadow: inset 0 -1px 0 0 rgba(50, 66, 92, 0.3);
  box-shadow: inset 0 -1px 0 0 rgba(50, 66, 92, 0.3);
}

.main-nav {
  margin-bottom: 60px;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 920px;
  margin: 0;
  padding: 0;
  padding-left: 20px;

  background-color: #32425c;
  border-bottom: 5px solid #293449;

  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 19px 31px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background: #293449;
}

.main-nav__link:active {
  color: rgba(255, 255, 255, 0.5);

  background: #1d2739;
}

.promo__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 58px;
}

.promo__column_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 640px;
  margin-bottom: 50px;
}

.promo__item {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 1px;
}

.promo__title {
  margin: 0;
  margin-top: 19px;
  margin-left: 23px;
  margin-bottom: 13px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo__link {
  display: block;
  width: 115px;
  margin-top: 13px;
  margin-left: 25px;
  margin-bottom: 22px;

  text-align: center;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.promo__link:hover,
.promo__link:focus {
  background: rgba(0, 0, 0, 0.2);
}

.promo__link:active {
  background: rgba(0, 0, 0, 0.3);
}

.promo__item-materials {
  background: #ffbf47 url("../img/icon-1.svg") no-repeat 213px 31px;
}

.promo__new {
  position: relative;
}

.promo__new::after {
  content:"";

  position: absolute;
  top: 0;
  right: 0;

  height: 59px;
  width: 60px;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.promo__item-tool {
  background: #3bbce3 url("../img/icon-2.svg") no-repeat 197px 33px;
}


.promo__item-slider {
  position: relative;

  width: 620px;
  height: 266px;

  background: #4e453e;
  z-index: 1;
}

.promo__slider-controls {
  position: absolute;
  left: 245px;
  bottom: 36px;
  z-index: 4;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 140px;
  height: 10px;
}

.promo__toggle {
  position: relative;

  display: block;
  width: 6px;
  height: 6px;
  margin-right: 10px;

  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
  cursor: hand;
}

.promo__toggle-hummer::before {
  content: "";

  position: absolute;
  top: -108px;
  left: -272px;

  width: 22px;
  height: 40px;

  background: url("../img/icon-left.svg") no-repeat 0 0;
}

.promo__toggle-drills::after {
  content: "";

  position: absolute;
  top: -108px;
  left: 261px;

  width: 22px;
  height: 40px;

  background: url("../img/icon-right.svg") no-repeat 0 0;
}

.promo__input-hummer:checked ~ .promo__slider-controls .promo__toggle-hummer,
.promo__input-drills:checked ~ .promo__slider-controls .promo__toggle-drills {
  background: #ee3643;
}

.promo__input-hummer:focus ~ .promo__slider-controls .promo__toggle-hummer,
.promo__input-drills:focus ~ .promo__slider-controls .promo__toggle-drills {
  outline: 5px auto -webkit-focus-ring-color;
}

.promo__slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;
}

.promo__slide-hummer {
  background: url("../img/promo-slider-hummer.jpg") no-repeat 0 0;
}

.promo__slide-drills {
  background: url("../img/promo-slider-drills.jpg") no-repeat 0 0;
}

.promo__input-hummer:checked ~ .promo__slide-hummer {
  z-index: 2;
}

.promo__input-drills:checked ~ .promo__slide-drills {
  z-index: 3;
}

.promo__title-slide {
  margin: 0;
  padding-top: 25px;
  padding-left: 25px;

  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.promo__text {
  margin: 0;
  margin-top: 5px;
  padding-left: 25px;

  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
}

.promo__link-catalog {
  width: 175px;
  margin-top: 121px;
  margin-left: 25px;

  text-align: center;

  background: #ee3643;
}

.promo__link-catalog:hover,
.promo__link-catalog:focus {
  background: #ca2c37;
}

.promo__link-catalog:active {
  background: #ba2732;
}

.promo__column_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
}

.promo__item-technique {
  background: #dc91d8 url("../img/icon-3.svg") no-repeat 191px 31px;
}

.promo__item-discounts {

  background: #8ed78f url("../img/icon-4.svg") no-repeat 196px 26px;
}

.promo__item-delivery {
  background: #ffc047 url("../img/icon-5.svg") no-repeat 191px 32px;
}

.inner-page__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inner-page__title {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background: #f2f6f8;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 17px 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs__item::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -25px;

  display: block;
  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs__link {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs__link-home {
  display: inline-block;
  width: 15px;
  height: 12px;

  vertical-align: baseline;

  background: url("../img/icon-home.svg") no-repeat 0 0;
}

.inner-page__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter {
  width: 220px;
}

.filter__price,
.filter__brands,
.filter__power {
  display: block;
  padding: 0;

  border: none;
}

.filter__price,
.filter__brands {
  margin: 0;

  border-bottom: 1px solid #e5e5e5;
}

.filter__title {
  margin: 0;
  padding: 10px 20px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;

  background: #f7f3ec;
  border-radius: 3px;
}

.filter__title-options {
  padding: 10px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.filter__slider {
  position: relative;

  width: 220px;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 9px;

  background: #f7f3ec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filter__scale {
  position: absolute;
  top: 39px;
  right: 20px;

  width: 180px;
  height: 2px;

  background: #d7dcde;
}

.filter__range {
  position: relative;

  width: 152px;
  height: 2px;

  background: #00ca74;

  cursor: pointer;
  cursor: hand;
  pointer-events: none;
}

.filter__range::after,
.filter__range::before {
  content: "";

  position: absolute;

  display: block;
  width: 22px;
  height: 40px;

  background: url("../img/filter-button.svg") no-repeat 0 0;

  pointer-events: auto;
}

.filter__range::before {
  top: 50%;
  left: 0;

  margin-top: -10px;
}
.filter__range::after {
  top: 50%;
  right: -10px;

  margin-top: -10px;
}

.filter__range-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}

.filter__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 95px;
  padding: 10px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;

  background: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.filter__tip {
  margin: 3px;

  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter__title-brands {
  padding-top: 15px;
}

.filter__options {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 21px;
  padding: 0;

  list-style: none;
}

.filter__checkbox:disabled ~ .filter__item {
  color: rgba(0, 0, 0, 0.4);
}

.filter__checkbox:disabled ~ .filter__item path {
  fill: rgba(181, 181, 181, 0.3);
}

.filter__checkbox:disabled ~ .filter__item::before {
  opacity: 0.3;
}

.filter__checkbox:focus ~ .filter__item {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter__checkbox:checked ~ .filter__item::before {
  display: none;
}

.filter__checkbox:checked ~ .filter__item .filter__icon {
  display: block;
}

.filter__item {
  position: relative;

  display: block;
  min-height: 24px;
  margin-bottom: 15px;
  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter__icon {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
}

.filter__item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 19px;
  height: 19px;

  background: #ffffff;
  border: 2px solid #b5b5b5;
  border-radius: 3px;
}

.filter__item:hover::before {
  border-color: #c5c5c5;
}

.filter__item:hover path {
  fill: #b5b5b5;
}

.filter__title-power {
  padding-top: 17px;

  letter-spacing: 0.01em;
}

.filter__power {
  margin: 0;
  margin-bottom: 60px;
}

.filter__options-powers {
  margin: 0;
  margin-top: 2px;
  padding: 0;

  list-style: none;
}

.filter__radio:disabled ~ .filter__battery,
.filter__radio:disabled ~ .filter__network {
  color: rgba(0, 0, 0, 0.4)
}

.filter__radio:disabled ~ .filter__battery::before,
.filter__radio:disabled ~ .filter__network::before {
  -webkit-box-shadow: 0 0 0 4px rgba(181, 181, 181, 0.3);
  box-shadow: 0 0 0 4px rgba(181, 181, 181, 0.3);
}

.filter__radio:checked:disabled ~ .filter__battery::before,
.filter__radio:checked:disabled ~ .filter__network::before,
.filter__radio:checked:disabled ~ .filter__battery:hover::before,
.filter__radio:checked:disabled ~ .filter__network:hover::before {
  background: rgba(181, 181, 181, 0.3);
}

.filter__radio:checked ~ .filter__battery:hover::before,
.filter__radio:checked ~ .filter__network:hover::before {
  background: #b5b5b5;
}

.filter__radio:checked ~ .filter__battery::before,
.filter__radio:checked ~ .filter__network::before {
  background: #c5c5c5;
}

.filter__radio:focus ~ .filter__battery,
.filter__radio:focus ~ .filter__network {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter__battery,
.filter__network {
  position: relative;

  display: block;
  min-height: 25px;
  margin-bottom: 15px;
  padding-left: 34px;

  font-size: 14px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter__battery::before,
.filter__network::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;

  width: 9px;
  height: 9px;

  background: #ffffff;
  border-radius: 50%;
  border: 4px solid #ffffff;
  -webkit-box-shadow: 0 0 0 4px #c5c5c5;
  box-shadow: 0 0 0 4px #c5c5c5;
}

.filter__battery:hover::before,
.filter__network:hover::before {
  -webkit-box-shadow: 0 0 0 4px #b5b5b5;
  box-shadow: 0 0 0 4px #b5b5b5;
}

.button-inner-page {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Atial", "sans-serif";
  text-transform: uppercase;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.button-inner-page:hover,
.button-inner-page:focus {
  border-color: #bdc6ca;
  outline: 0;
}

.button-inner-page:active {
  border-color: #ee3643;
}

.filter__button {
  padding: 9px 39px;
}

.catalog {
  width: 700px;
}

.catalog__sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 700px;
  margin-bottom: 20px;

  background: #f7f3ec;
  border-radius: 3px;
}

.catalog__title {
  width: 130px;
  padding: 10px 10px 10px 20px;
  margin: 0;
  margin-right: 80px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.catalog__sorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 390px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__option {
  margin-left: 68px;
  margin-bottom: 5px;
}

.catalog__option:first-child {
  margin-left: 0;
}

.catalog__link {
  display: block;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.catalog__link:hover,
.catalog__link:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.catalog__link:active {
  color: #ee3643;

  border: none;
}

.catalog__link_current,
.catalog__link_current:hover,
.catalog__link_current:focus,
.catalog__link_current:active {
  color: #ee3643;

  border: none;
}

.catalog__rotation {
  width: 11px;
  height: 10px;
}

.catalog__rotation:focus path,
.catalog__rotation:hover path {
  fill: #000000;
}

.catalog__rotation:active path,
.catalog__rotation_active path,
.catalog__rotation_active:hover path,
.catalog__rotation_active:focus path {
  fill: #ee3643;
}

.catalog__rotation_increase {
  margin-left: 10px;
  margin-right: 21px;
}

.catalog__rotation_decrease {
  margin-right: 17px;
}

.popular__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 940px;
  margin-bottom: 21px;

  background: #f9f5f0;
}

.popular__title {
  width: 610px;
  margin: 30px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular__link-all {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 253px;
  margin: 25px 25px 25px 0;

  text-align: center;
  background: #ee3643;
}

.popular__link-all:hover,
.popular__link-all:focus {
  background: #ca2c37;
}

.popular__link-all:active {
  background: #ba2732;
}

.popular__catalog,
.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular__item,
.catalog__item {
  position: relative;

  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.popular__item:hover,
.catalog__item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular__item:hover .popular__action,
.catalog__item:hover .catalog__action {
  z-index: 1;
}

.popular__item:nth-child(4n) {
  margin-right: 0;
}

.catalog__item:nth-child(3n) {
  margin-right: 0;
}

.popular__link,
.catalog__link-product {
  color: #000000;
}

.popular__image,
.catalog__image {
  width: 218px;
  height: 165px;
  margin: 0;
  margin-bottom: 15px;
}

.popular__product-title,
.catalog__product-title {
  min-height: 40px;
  margin: 0;
  padding: 0 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
}

.popular__price,
.catalog__price {
  margin: 0;
}

.popular__old-price,
.popular__relevant-price,
.catalog__old-price,
.catalog__relevant-price {
  display: block;
  min-height: 18px;

  font-weight: inherit;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
}

.popular__old-price,
.catalog__old-price {
  margin-top: 10px;
  margin-bottom: 10px;

  font-weight: 700;
  text-decoration: line-through;
  color: #a9a9a9;
}

.popular__relevant-price,
.catalog__relevant-price {
  position: relative;

  width: 80px;
  margin-left: 43px;
  margin-bottom: 20px;
  padding: 10px 30px;

  text-decoration: none;
  color: #ffffff;

  background: #ee3643;
  border-radius: 3px;
}

.popular__relevant-price:after,
.catalog__relevant-price:after {
  content:"";

  position:absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.popular__new::before,
.catalog__new::before {
  content:"";

  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;

  height: 59px;
  width: 60px;

  background: url("../img/new-flag.png") no-repeat;
}

.popular__action,
.catalog__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 218px;
  height: 165px;

  background: #ffffff;
}

.popular__link-buy,
.catalog__link-buy {
  position: relative;

  width: 85px;
  margin-bottom: 10px;
  padding: 10px 0 10px 50px;

  background: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 #367315;
  box-shadow: inset 0 -3px 0 #367315;
}

.popular__link-buy::before,
.catalog__link-buy::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 14px;

  width: 15px;
  height: 15px;

  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.popular__link-buy:hover,
.popular__link-buy:focus,
.catalog__link-buy:hover,
.catalog__link-buy:focus {
  background: #5fbb2d;
}

.popular__link-buy:hover::before,
.popular__link-buy:focus::before,
.catalog__link-buy:hover::before,
.catalog__link-buy:focus::before {
  opacity: 1;
}

.popular__link-buy:active,
.catalog__link-buy:active {
  background: #518534;
}

.popular__link-buy:active::before,
.catalog__link-buy:active::before{
  opacity: 1;
}

.popular__link-buy:active,
.catalog__link-buy:active {
  background: #518534;
}

.popular__link-bookmark,
.catalog__link-bookmark {
  padding: 7px 0;
  width: 130px;

  text-align: center;
  color: #32425c;

  background: #ffffff;
  border: 3px solid #63a63e;
}

.popular__link-bookmark:hover,
.popular__link-bookmark:focus,
.catalog__link-bookmark:hover,
.catalog__link-bookmark:focus {
  background: #ffffff;
  border: 3px solid #32425c;
  outline: 0;
}

.popular__link-bookmark:active,
.catalog__link-bookmark:active {
  background: #ffffff;
  border: 3px solid #c1c6ce;
  color: rgba(50, 66, 92, 0.302);
}

.popular__list-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 65px;
  padding: 0;

  list-style: none;
}

.popular-brand {
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-brand:nth-child(4n) {
  margin-right: 0;
}

.popular-brand__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 218px;
  height: 143px;

  border: 1px solid #e5e5e5;
}

.popular-brand__link:hover,
.popular-brand__link:focus {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brand__link:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brand__link:active .popular-brand__image {
  opacity: 0.3;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.pagination__link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 38px;
  padding: 9px 0;

  text-align: center;
  color: #000000;
}

.pagination__link_current,
.pagination__link_current:hover,
.pagination__link_current:focus,
.pagination__link_current:active {
  color: #ffffff;

  background: #ee3643;
  border-color: #ee3643;
}

.pagination__button {
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: block;
  width: 140px;
  margin-bottom: 10px;
  padding: 9px 0;

  text-align: center;
  color: #000000;
}

.about-hummer {
  background: #f2f6f8;
  border-top: 1px solid #f2f6f8;
  border-bottom: 1px solid #f2f6f8;
}

.about-hummer__title {
  margin: 70px 0 27px 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-hummer__text {
  margin: 0;
  margin-bottom: 67px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.services {
  background: #f2f6f8;
  border-top: 1px solid #f2f6f8;
  border-bottom: 1px solid #f2f6f8;
}

.services__title {
  margin: 66px 0 30px 0;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.services__promo-text {
  margin: 0;
  margin-bottom: 69px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.services__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 99px;
}

.services__list {
  position: relative;
  z-index: 1;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 240px;
  margin: 0;
  margin-right: 80px;
  padding: 0;

  list-style: none;
}

.services__list::after {
  content: "";

  position: absolute;
  top: -45px;
  left: 230px;

  width: 10px;
  height: 272px;

  background: url("../img/separator.png") no-repeat 0 0;
}

.services__toggle {
  display: block;
  width: 218px;
  padding: 12px 0 18px 22px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #32425c;
  border-top: 1px solid #405069;
  cursor: pointer;
  cursor: hand;
}

.services__toggle:hover {
  background: #293449;
}

.services__input-delivery:checked ~ .services__list .services__toggle-delivery {
  color: #32425c;

  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.services__input-delivery:checked ~ .services__slides .service__slide-delivery {
  z-index: 2;
}

.services__input-guarantee:checked ~ .services__list .services__toggle-guarantee {
  color: #32425c;

  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.services__input-guarantee:checked ~ .services__slides .service__slide-guarantee {
  z-index: 2;
}

.services__input-credit:checked ~ .services__list .services__toggle-credit {
  color: #32425c;

  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.services__input-credit:checked ~ .services__slides .service__slide-credit {
  z-index: 2;
}

.services__slides {
  position: relative;

  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.service__slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.service__slide-delivery::after {
  content: "";

  position: absolute;
  top: 22px;
  left: 150px;

  width: 468px;
  height: 261px;

  background: url("../img/delivery.png") no-repeat 0 0;
}

.service__slide-guarantee::after {
  content: "";

  position: absolute;
  top: 0;
  left: 240px;

  width: 468px;
  height: 261px;

  background: url("../img/guarantee.png") no-repeat 0 0;
}

.service__slide-credit::after {
  content: "";

  position: absolute;
  top: -2px;
  left: 165px;


  width: 468px;
  height: 261px;

  background: url("../img/credit.png") no-repeat 0 0;
}

.service__title {
  margin: 2px 0 31px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.services__description {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.services__link {
  margin-top: 27px;
  padding: 10px 45px;
}

.about-us__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-us__column-left {
  width: 520px;
}

.about-us__column_right {
  width: 300px;
  margin-bottom: 87px;
}

.about-us__title {
  margin-top: 82px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.about-us__text {
  margin: 0;
  margin-top: 23px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.about-us__list-partners {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__partner {
  position: relative;

  padding-left: 36px;
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-us__partner::before {
  position: absolute;
  top: 10px;
  left: 0;

  display: block;
  content: "";

  width: 25px;
  height: 2px;

  background: #ee3643;
}

.about-us__map {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0;

  width: 300px;
  height: 158px;
}

.about-us__link-company {
  width: 200px;
  margin-top: 17px;

  text-align: center;
}

.about-us__link-write-us {
  width: 280px;

  text-align: center;
}

.main-footer {
  background: #32425c;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column_left {
  width: 390px;
  margin-bottom: 50px;
}

.footer-logo {
  display: block;
  width: 220px;
  margin-bottom: 33px;
  padding: 16px 0;

  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow: 0 5px 0 0 #b52933;
}

.footer-info__text {
  width: 330px;
  margin: 0;
  padding-left: 5px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-info__tel {
  color: #ffffff;
}

.footer__column_right {
  width: 550px;
}

.footer-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 33px;
  padding: 0;

  list-style: none;
}

.footer-site-nav__item {
  margin-right: 59px;
}

.footer-site-nav__item:nth-child(5) {
  margin-right: 0;
}

.footer-site-nav__link {
  display: block;

  font-size: 18px;
  color: #ffffff;
}

.footer-catalog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 530px;
  margin: 0;
  padding: 0;
  padding-left: 25px;

  list-style: none;
}

.footer-catalog-nav__item {
  margin-right: 59px;
}

.footer-catalog-nav__item:nth-child(4) {
  margin-right: 0;
}

.footer-catalog-nav__link {
  display: block;

  font-size: 18px;
  color: #ffd180;
}

.footer-site-nav__link:hover,
.footer-catalog-nav__link:hover,
.footer-site-nav__link:focus,
.footer-catalog-nav__link:focus {
  text-decoration: underline;
  outline: 0;
}

.footer-site-nav__link:active {
  color: rgba(255, 255, 255, 0.5)
}
.footer-catalog-nav__link:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background: #293449;
}

.footer-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0;
}

.footer-bottom__text {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom__copyright {
  width: 230px;
  margin-right: 160px;
}


.footer-bottom__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  margin-right: 70px;

  font-size: 0;
}

.footer-bottom__vk,
.footer-bottom__fb,
.footer-bottom__ig {
  width: 40px;
  height: 40px;
  margin-right: 5px;

  border-radius: 50%;
}

.footer-bottom__vk {
  background: #212a3a url("../img/icon-vk.svg") no-repeat 50% 50%;
}

.footer-bottom__fb {
  background: #212a3a url("../img/icon-fb.svg") no-repeat 50% 50%;
}

.footer-bottom__ig {
  background: #212a3a url("../img/icon-insta.svg") no-repeat 50% 50%;
}

.footer-bottom__vk:hover,
.footer-bottom__vk:focus,
.footer-bottom__vk:active {
  background: #ee3643 url("../img/icon-vk.svg") no-repeat 50% 50%;
  outline: none;
}

.footer-bottom__fb:hover,
.footer-bottom__fb:focus,
.footer-bottom__fb:active {
  background: #ee3643 url("../img/icon-fb.svg") no-repeat 50% 50%;
}

.footer-bottom__ig:hover,
.footer-bottom__ig:focus,
.footer-bottom__ig:active {
  background: #ee3643 url("../img/icon-insta.svg") no-repeat 50% 50%;
}

.footer-bottom__link {
  display: block;
  margin-right: 53px;

  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-bottom__link:hover,
.footer-bottom__link:focus {
  text-decoration: underline;
}

.footer-bottom__link:active {
  color: #ee3643;
}

.footer-bottom__developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 300px;
}

.modal {
  position: fixed;
  z-index: 10;

  display: none;
  background: #ffffff;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 10px;

  width: 25px;
  height: 25px;

  background: url("../img/form-2.svg") no-repeat 50% 50%;
  border: none;
}

.modal-write-us {
  top: 25px;
  left: 50%;

  width: 620px;
  margin-left: -310px;

  border-top: 10px solid #ee3643;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75)
}

.write-us__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.write-us__column_left,
.write-us__column_right {
  width: 220px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.write-us__column_left {
  margin-right: 20px;
}

.write-us__title {
  display: block;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.write-us__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  padding: 8px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us__middle {
  width: 460px;
}

.write-us__input-message {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 460px;
  height: 115px;
  margin-bottom: 38px;

  resize: none;
}

.write-us__bottom {
  width: 100%;
  background: #f1f1f1;
}

.write-us__button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 460px;
  margin: 37px auto;

  border: none;
}

.modal-map {
  top: 500px;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-left: -470px;

  -webkit-box-shadow: 0 0 16px 0 rgba(47, 42, 43, 0.5);
  box-shadow: 0 0 16px 0 rgba(47, 42, 43, 0.5);
}

.modal-add-cart {
  top: 250px;
  left: 50%;

  width: 620px;
  margin-left: -310px;

  border-top: 10px solid #ee3643;
  -webkit-box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-add-cart__text {
  position: relative;

  margin: 70px 0 68px 0;
  padding-left: 180px;

  font-size: 30px;
  line-height: 18px;
}

.modal-add-cart__text::before {
  content: "";

  position: absolute;
  top: -30px;
  left: 82px;

  display: block;
  width: 66px;
  height: 66px;

  background: url("../img/form-1.svg") no-repeat 0 0;
}

.modal-add-cart__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-add-cart__link {
  margin: 38px 0;
  width: 200px;

  text-align: center;
}

.modal-add-cart__link-back {
  margin-left: 20px;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background: #ffffff;
  border-radius: 3px;
}

.modal-add-cart__bottom {
  background: #f1f1f1;
}
